#page-container #page-body .factual {
  background-color: transparent;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif; }

#topic-list .disabled {
  color: #aaaaaa;
  cursor: default; }
#topic-list .fact-tabs .selected {
  cursor: default; }
  #topic-list .fact-tabs .selected a {
    cursor: default; }
#topic-list .fact-panes {
  background-color: transparent; }
#topic-list .browse {
  padding: 12px; }
  #topic-list .browse .verticals li {
    float: left;
    margin: 0px 24px 24px 0px; }
  #topic-list .browse .verticals a {
    display: block;
    text-align: center;
    font-weight: bold;
    line-height: 24px; }
  #topic-list .browse .verticals .icon {
    width: 155px;
    height: 155px;
    background-image: url(../images/factual2/topics.jpg?1316658790);
    background-repeat: no-repeat;
    cursor: pointer; }
  #topic-list .browse .verticals .geo .icon {
    background-position: -465px 0; }
  #topic-list .browse .verticals .entertainment .icon {
    background-position: -620px 0; }
  #topic-list .browse .verticals .government .icon {
    background-position: -155px 0; }
  #topic-list .browse .verticals .health .icon {
    background-position: -310px 0; }
  #topic-list .browse .moreVerticals {
    overflow: hidden;
    padding: 15px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    background: -moz-linear-gradient(top, white 0%, #efefef 100%);
    background: -webkit-gradient(linear, left top, left bottom, from(white), color-stop(100%, #efefef));
    border: 1px solid #dedede;
    width: 841px; }
    #topic-list .browse .moreVerticals li {
      float: left;
      width: 156.8px;
      margin: 0 10px 0 0; }
      #topic-list .browse .moreVerticals li a {
        display: list-item;
        list-style: disc inside; }
#topic-list .find-data .icon {
  background-image: url(../icons/icon_grid.png);
  background-repeat: no-repeat;
  display: inline-block; }
#topic-list .find-data .search-topics {
  margin-top: 20px;
  background: -moz-linear-gradient(top, #fefeff 0%, #e6e6e7 100%);
  background: -webkit-gradient(linear, left top, left bottom, from(#fefeff), color-stop(100%, #e6e6e7));
  -moz-box-shadow: 0 0 5px #cccccc;
  -webkit-box-shadow: 0 0 5px #cccccc;
  box-shadow: 0 0 5px #cccccc;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border: 1px solid #cccccc;
  padding: 24px 62px;
  line-height: 36px; }
  #topic-list .find-data .search-topics .search-options strong, #topic-list .find-data .search-topics .search-options select, #topic-list .find-data .search-topics .search-options span {
    display: inline-block;
    vertical-align: middle; }
  #topic-list .find-data .search-topics .search-options .searchField {
    position: relative; }
    #topic-list .find-data .search-topics .search-options .searchField .searchInput {
      width: 375px;
      border: 1px solid #cccccc;
      padding: 10px 0 7px 12px;
      font-weight: bold; }
  #topic-list .find-data .search-topics .search-options strong {
    padding: 0px 18px; }
  #topic-list .find-data .search-topics .search-options select {
    line-height: 36px;
    font-weight: bold; }
  #topic-list .find-data .search-topics .search-options .customSelect {
    display: inline-block;
    vertical-align: middle;
    width: 152px; }
    #topic-list .find-data .search-topics .search-options .customSelect .selectBox {
      width: 152px;
      height: 38px;
      display: inline-block;
      vertical-align: middle; }
      #topic-list .find-data .search-topics .search-options .customSelect .selectBox .selectField {
        height: 36px;
        border: 1px solid #d6d6d6;
        background-color: white;
        display: inline-block;
        vertical-align: middle; }
        #topic-list .find-data .search-topics .search-options .customSelect .selectBox .selectField .value {
          line-height: 36px;
          height: 36px;
          padding-left: 12px;
          font-weight: bold; }
        #topic-list .find-data .search-topics .search-options .customSelect .selectBox .selectField .selector {
          background-image: url(../icons/icon_grid.png);
          background-repeat: no-repeat;
          display: inline-block;
          background-position: -490px 15px;
          top: 0px;
          width: 36px;
          height: 36px;
          border-left: 1px solid #cccccc; }
    #topic-list .find-data .search-topics .search-options .customSelect .list {
      position: absolute;
      min-width: 100%;
      top: 36px;
      left: 0px;
      background-color: white; }
      #topic-list .find-data .search-topics .search-options .customSelect .list li {
        line-height: 36px;
        height: 36px; }
      #topic-list .find-data .search-topics .search-options .customSelect .list .hover {
        border: 1px solid #9cd940;
        background-color: #d1f39d; }
#topic-list .find-data .nodataMessage {
  padding: 24px 12px;
  color: #303030; }
  #topic-list .find-data .nodataMessage .icon {
    background-position: -350px -200px;
    width: 22px;
    height: 18px;
    float: left; }
#topic-list .find-data .filter-options {
  margin-top: 12px;
  background-color: #dddddd;
  padding: 12px 24px; }
  #topic-list .find-data .filter-options table {
    width: 100%; }
    #topic-list .find-data .filter-options table td {
      vertical-align: bottom; }
  #topic-list .find-data .filter-options .checkBox {
    margin-right: 3px; }
  #topic-list .find-data .filter-options .icon {
    display: block;
    margin-left: 35px;
    width: 26px;
    height: 26px; }
  #topic-list .find-data .filter-options span.geoEnabled {
    background-position: -550px -100px; }
  #topic-list .find-data .filter-options span.downloadable {
    background-position: -500px -100px; }
  #topic-list .find-data .filter-options span.fulltextSearch {
    background-position: -450px -100px;
    margin-left: 60px; }
#topic-list .find-data .pagination {
  padding: 12px 0px 6px 0px; }
  #topic-list .find-data .pagination .info {
    float: left; }
  #topic-list .find-data .pagination .paginator {
    float: right; }
    #topic-list .find-data .pagination .paginator span, #topic-list .find-data .pagination .paginator a {
      margin-right: 5px; }
#topic-list .find-data .grooved {
  margin: 6px 0px 6px 0px; }
#topic-list .find-data .controls {
  height: 32px;
  text-align: right; }
  #topic-list .find-data .controls .reset {
    font-size: 14px;
    display: inline-block;
    margin-right: 14px;
    font-weight: bold; }
#topic-list .find-data .loading {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  background-image: url(../images/grid/white_opacity_50.png?1316658790);
  z-index: 999;
  top: 265px; }
  #topic-list .find-data .loading .message {
    display: inline-block;
    background: url(../images/animation/spinner_29.gif?1316658790) no-repeat 0px center;
    line-height: 60px;
    margin-top: 24px;
    padding-left: 34px; }
#topic-list .find-data .dataset-list .list-entry {
  border-bottom: 1px solid #cccccc;
  padding: 12px 24px 12px 40px;
  position: relative; }
  #topic-list .find-data .dataset-list .list-entry .icons {
    width: 32px;
    height: 80px;
    position: absolute;
    top: 14px;
    left: 0; }
    #topic-list .find-data .dataset-list .list-entry .icons span {
      display: inline-block;
      float: left;
      width: 26px;
      height: 26px;
      margin-bottom: 3px; }
    #topic-list .find-data .dataset-list .list-entry .icons .geoEnabled {
      background-position: -550px -100px; }
    #topic-list .find-data .dataset-list .list-entry .icons .downloadable {
      background-position: -500px -100px; }
    #topic-list .find-data .dataset-list .list-entry .icons .fulltextSearch {
      background-position: -450px -100px; }
  #topic-list .find-data .dataset-list .list-entry .appTitle {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 12px;
    display: block; }
  #topic-list .find-data .dataset-list .list-entry .item_description .full {
    display: none; }
  #topic-list .find-data .dataset-list .list-entry table {
    width: 100%; }
  #topic-list .find-data .dataset-list .list-entry .meta {
    padding: 12px 0px; }
    #topic-list .find-data .dataset-list .list-entry .meta label {
      font-weight: bold; }
    #topic-list .find-data .dataset-list .list-entry .meta li {
      float: left; }
    #topic-list .find-data .dataset-list .list-entry .meta .rows, #topic-list .find-data .dataset-list .list-entry .meta .createdBy, #topic-list .find-data .dataset-list .list-entry .meta .createdOn, #topic-list .find-data .dataset-list .list-entry .meta .cols, #topic-list .find-data .dataset-list .list-entry .meta .updated {
      width: 220px; }
    #topic-list .find-data .dataset-list .list-entry .meta .createdOn {
      margin-left: 220px;
      clear: left; }

#topic-page {
  position: relative;
  padding: 24px 0 78px; }
  #topic-page .fixed-grid-row {
    background-image: url(../images/factual2/borderedColumn.gif?1316658790);
    background-repeat: repeat-y;
    background-position: center top; }

#topic-page {
  color: #3f3f3f; }
  #topic-page .borderedColumn {
    padding-right: 12px; }
  #topic-page p, #topic-page img, #topic-page li {
    margin-bottom: 12px; }
  #topic-page img.bounded {
    border: 1px solid #cccccc;
    max-width: 472px; }
  #topic-page a, #topic-page a:active, #topic-page a:visited {
    text-decoration: none;
    font-weight: bold;
    color: #0088cc; }
  #topic-page a:hover {
    color: #F6861F; }
  #topic-page .listHeaderText {
    margin-bottom: 12px;
    color: #082044;
    text-shadow: 1px 1px 0px white; }
  #topic-page .externalSites {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    background-color: #e1e2e2; }
  #topic-page .apps {
    border-right: 1px solid #cccccc; }
  #topic-page .coming-soon {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    background-color: #cccccc;
    padding: 12px; }
  #topic-page ul li {
    margin-bottom: 12px; }
  #topic-page h2 {
    font-size: 24px;
    margin-bottom: 18px; }
  #topic-page h6 {
    font-size: 14px; }
  #topic-page .appTitle {
    display: inline-block;
    margin-bottom: 12px; }
  #topic-page .clientApps, #topic-page .serverApps {
    margin-left: 12px; }
    #topic-page .clientApps .content, #topic-page .serverApps .content {
      margin: 24px 0 24px 40px; }
      #topic-page .clientApps .content img, #topic-page .serverApps .content img {
        width: 420px; }
    #topic-page .clientApps .icon, #topic-page .serverApps .icon {
      background-image: url(../icons/icon_grid.png);
      background-repeat: no-repeat;
      display: inline-block;
      float: left; }
  #topic-page .clientApps .icon {
    background-position: -650px -250px;
    width: 25px;
    height: 22px; }
  #topic-page .serverApps .icon {
    background-position: -700px -250px;
    width: 25px;
    height: 27px; }
  #topic-page .featureButtonSmall > span {
    margin: 18px 0; }
  #topic-page .featureButtonSmall a {
    color: white; }
  #topic-page .lightbox {
    padding: 15px 15px 25px 15px;
    font-size: 15px;
    line-height: 20px; }
