@media (max-width: 767px) {
	#instagram-feed > div {
		left: 50%;
		bottom: 15px;
	}
	#instagram-feed > div small{
		color: #222 !important;
		font-size: 8.2em;
		position: relative;
		left: -50%;
		bottom: 0;
	}
	#instagram-feed {
		height: 360px;
	}
	#instafeed li .icon-instagram {
		display: inline !important;
	}
}
@media (min-width: 768px) and (max-width: 991px) {}
@media (min-width: 768px){
	#instagram-feed {
		height: 325px;
	}
	#instagram-feed > div {
		right: 15px;
		top: 50px;
	}
	#instagram-feed > div small{
		font-size: 6em;
	}
}
@media (min-width: 992px) {}

#top-content {
	margin-top:50px;
}

#top-posts {
	margin-top: 30px;
	border-top: 1px solid #ddd;
	padding-top: 40px;
}

#top-posts p {
	font-size: 12px;
}

#content {
	margin-top:20px;
}

#content .post {
	border-bottom:1px solid #ccc;
	padding:0 0 30px;
}

#site-info h4 {
	margin-top: 15px;
	margin-bottom: 5px;
}

#site-info a {
	color: #222;
	font-size: 45px;
	line-height: 25px;
	text-decoration: none;
	 -webkit-transition: all 0.2s linear;
	 -moz-transition: all 0.2s linear;
	 -o-transition: all 0.2s linear;
	 transition: all 0.2s linear;
}

#site-info a:active, #site-info a:hover {
  color: #f175d2;
  text-decoration: none;
}

/* INSTAGRAM FEED */
#instagram-feed {
	margin-top: 20px;
	margin-bottom: 30px;
	overflow: hidden;
}

#instagram-feed:before {
	z-index: 20;
	content: '';
	position: absolute;
	left: 0;
	top: 12px;
	width: 100%;
	height: 5px;
	background: url(../images/perforated-top.png) repeat-x;
}

#instagram-feed:after {
	z-index: 20;
	content: '';
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 5px;
	background: url(../images/perforated-top.png) repeat-x;
}

#instagram-feed h2 i {
	font-size: 2em;
	line-height: 1;
	position: relative;
	bottom: -2px;
}

#instagram-feed > div {
	position: absolute;
	height: 20px;
}

#instagram-feed > div small {
	cursor: pointer;
	color: #555;
	font-family: 'entypo';
	line-height: 10px;
	 -webkit-transition: all 0.2s linear;
	 -moz-transition: all 0.2s linear;
	 -o-transition: all 0.2s linear;
	 transition: all 0.2s linear;
	 text-align: center;
}

#instagram-feed > div small:hover {
	color: #000;
}

#instafeed {
	box-sizing: border-box;
	height: 100%;
	list-style: none;
	overflow: auto;
	padding: 0;
	white-space: nowrap;
	width: auto;
}

#instafeed li {
	display: inline-block;
	padding: 0 5px;
	font-size: 10px;
	line-height: 1.4;
	text-align: center;
}

#instafeed li:first-child {
	padding-left: 0px;
}

#instafeed li:last-child {
	padding-right: 0px;
}

#instafeed li img {
	border: 0px solid #222;
	display: block;
	width: 180px;
	height: auto;
	padding: 0 0 8px 0;
}

#instafeed li span, #instafeed li .icon-instagram {
	color: #b9b9b9;
	font-size: 1.1em;
}

#instafeed li .icon-instagram {
	display: none;
	color: #b9b9b9;
	font-size: 2.3em;
	position: relative;
	top: 1px;
	left: 3px;
}

#instafeed li span.glyphicon {
	left: 1px;
}

#instafeed li span.glyphicon-comment {
	top: 1px;
	left: 2px;
}










/* Old CSS */

@media (min-width: 768px) {
	.container .page-header {
	font-size: 50px;
	}
}

.show-grid [class^=col-] {
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: #eee;
	border: 1px solid #000;
	text-align: center;
}

.row {
	margin-bottom: 15px;
}

.container .jumbotron {
	color: #fff;
	background-color: #989898;
	border-radius: 0;
}

.container .jumbotron p {
	color: #fff;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
}

.container .section {
	background-color: #fff;
	border: 1px solid #ddd;
	border-color: #ddd;
	box-shadow: none;
	margin: 0;
	padding: 0 20px;
}

.section .table > tbody> tr > td {
	border-top: 0;
}

.container .nav-pills > li+li {
	margin-left: 6px;
}

.container .nav-pills > li > a {
	border: 1px solid #222;
	border-radius: 0;
	color: #222;
	font-family: 'Didact Gothic';
	font-size: 16px;
	letter-spacing: 4px;
	text-transform: uppercase;
}

.container .nav-pills > li > a:hover,
.container .nav-pills > li > a:active,
.container .nav-pills > li > a:focus {
	color: #fff;
	background-color: #222;
}

/* Typography */
#type .font-1 div {
	font-family: Cinzel;	
}
#type .font-2 div {
	font-family: 'Didact Gothic';	
}
#type .font-3 div {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;	
}
#type .font-4 div {
	font-family: 'Open Sans', sans-serif;
}

#type div.forty {
	font-size: 40px;	
}

#type div.twenty {
	font-size: 20px;
	margin-bottom: 10px;	
}

#type div.sixteen {
	font-size: 16px;
	margin-bottom: 10px;	
}

#type div.twelve {
	font-size: 12px;
	margin-bottom: 10px;	
}

#type div.ten {
	font-size: 10px;
	margin-bottom: 10px;
}

#type div.eight {
	font-size: 8px;
	margin-bottom: 8px;
}

@media (max-width: 768px) {
	#type .row .col-sm-2 {
		margin-bottom: -2px;	
	}
	.container .jumbotron p {
		font-size: 14px;
	}
	.container .nav-pills > li {
	margin-bottom: 6px;
	margin-left: 0 !important;
	margin-right: 8px;
}
}


/* Glyphicons */

code {
	white-space: normal;
}

.rs-glyphicons {
	padding: 20px 0;
}

.rs-glyphicons-list {
	padding-left: 0;
	list-style: none;
}

.rs-glyphicons li {
	cursor: crosshair;
	float: left;
	width: 25%;
	height: 115px;
	padding: 10px;
	font-size: 10px;
	line-height: 1.4;
	text-align: center;
	border: 1px solid #fff;
	background-color: #f1f1f1;
}

.rs-glyphicons li:hover {
	color: #fff;
	background-color: #222;
}

.rs-glyphicons .glyphicon {
	margin-top: 5px;
	margin-bottom: 10px;
	font-size: 24px;
}

.rs-glyphicons .glyphicon-class {
	display: block;
	text-align: center;
	word-wrap: break-word;
}

@media (min-width: 768px) {
	.rs-glyphicons {
		margin-left: 0;
		margin-right: 0;
	}
	.rs-glyphicons li {
		width: 12.5%;
		font-size: 12px;
	}
}

/* Content */

#content .row > div > h4 {
	letter-spacing: 0px;
}