/* Work In Progress #609ED4 */


/* Header Main */
#header-main {margin:0;padding:0;border:0px solid #bbb;width:950px;height:100px;border-bottom-width:1px;border-bottom-style:solid;border-bottom-color:#ddd;}
#headright-main {display:inline-block;width:765px;height:100px;padding:0;margin:0;}
#headright-main div {display:block;float:right;clear:both;}
#headright-main ul {margin:0;padding:0;}
#headright-main li {position:relative;display:inline;list-style:none;}

/* Header */
#header {margin:0px auto 7px;border:0px solid #bbb;width:970px;height:100px;}
#headleft {display:inline-block;width:180px;height:100px;padding:0;margin:0;}
#headleft img {margin-bottom:10px;border:0px;}
#headright {display:inline-block;width:785px;height:100px;padding:0;margin:0;}
#headright div {display:block;float:right;clear:both;}
#headright li {position:relative;display:inline;list-style:none;}
#headright img{margin-right:20px;margin-top:8px;}

/* Social Buttons */
.twitter {}
.tumblr {margin-right:15px;}
.facebook {top:-3px;margin:0;padding:0;}

a, a:link, a:visited{text-decoration:none;color:#569AD1;}
a:hover{text-decoration:underline;color:#2E74B4;}
a:active{text-decoration:underline;color:#2E74B4;}
body{font-family:Arial,Helvetica,sans-serif;font-size:12px;text-decoration:none;color:#444;background-color:#f3f3f3;}
H3 {margin:0;padding:0;letter-spacing:2px;}
H4 {color:#999;font-weight:normal;letter-spacing:2px;}
.maingrid{padding:0;margin-left:0;margin-top:0;border:0}
#container {display:block;width:950px;padding:10px;background-color:#fff;}
.subcontainer {border:1px solid #ddd;margin:5px auto 0px;}
#mainbody {display:block;clear:both;width:950px;height:400px;margin-top:25px;}
#mainbody div {padding:0px;float:left;}

/* Main Menu */
#menu{width:180px;text-align:left;margin:0;padding:0;border:0px solid #bbb;}
.menubold{font-family:Arial,Helvetica,sans-serif;font-size:25px;color:#ddd;margin:0px;padding:3px 10px;}
.menubold a{font-family:Arial,Helvetica, ans-serif;font-size:25px;}
.menubold a:link, .menubold a:visited{text-decoration:none;color:#777;}
.menubold a:hover, .menubold a:active{color:#A7A7A7;text-decoration:none;}
.submenu{clear:both;font-size:10px;padding:0;margin-top:0px;}
.submenu li{list-style:none;font-family:"Trebuchet MS",Arial,Helvetica,sans-serif;color:#ccc;font-size:14px;margin-bottom:10px;margin-left:35px;}
.submenu li.bold {text-decoration:none;color:#555;font-weight:normal;}
.slink a, .slink a:link, .slink a:visited{text-decoration:none;color:#777;}
.slink a:hover, .slink a:active{color:#A7A7A7;text-decoration:none;}
.small {font-family:"Trebuchet MS",Arial,Helvetica,sans-serif;color:#ccc;font-size:10px;}
#main {width:765px;height:400px;}
#main_no_height {width:765px;}
.imgholder img{border:1px solid #333;}
.subsecmain {vertical-align:top;display:inline-block;}
/* #main img{display:inline;border:0;padding:0;margin:0px 0px -6px 0px;border:1px solid #444} */
#footer {float:left;margin-top:0px;margin-bottom:0px;padding:0px;border:0px solid #bbb;width:930px;height:1px;}
#bottom {clear:both;text-align:right;}
.shadow {
	box-shadow: rgba(0,0,0,0.40) 0 1px 6px;
	-webkit-box-shadow: rgba(0,0,0,0.40) 0 1px 6px;
	-moz-box-shadow: rgba(0,0,0,0.40) 0 1px 6px;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fdfdfd), to(#d9d9d9));
	background: -moz-linear-gradient(100% 100% 90deg, #d9d9d9, #fdfdfd);
}

/* Front Page Box Info Popups*/

#popcontain {margin-left:50px;}
.popgrid{width:220px;height:165px;margin:0px 0px 10px 10px;background:#333;border:1px solid #333;overflow:hidden;position:relative;}
.popgrid img{position:absolute;top:0;border:0;}
.pop .boxpop{top:165px;}
.boxpop{float:left;position:absolute;background:#222;height:25px;width:100%;opacity:.8; 
/* For IE 5-7 */
filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
/* For IE 8 */
-MS-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";}
.boxpop a, .boxpop a:link, .boxpop a:visited{font-family:'Open Sans',sans-serif;font-size:12px;letter-spacing:1px;font-weight:600;color:#fff;text-decoration:none;}
.shade p{margin:0;padding:4px 0px 0px 10px;}
.shadowpop {
	box-shadow: rgba(0,0,0,0.50) 2px 2px 6px;
	-webkit-box-shadow: rgba(0,0,0,0.50) 2px 2px 6px;
	-moz-box-shadow: rgba(0,0,0,0.50) 2px 2px 6px;
}