#main2 {display:block;clear:both;margin-top:0;padding:0;}
.main3 {display:block;clear:both;margin-top:0px;padding-bottom:20px;}
.main3-5 {display:block;clear:both;margin-top:30px;padding-bottom:20px;}
.main4 {display:block;clear:both;margin-top:30px;padding-bottom:30px;}
.break {border-bottom-width:1px;border-bottom-style:solid;border-bottom-color:#ddd;}
.description {width:290px;margin-right:20px;}
.description p {line-height:1.50em;text-align:justify;}
.descriptionright {width:290px;margin-left:20px;}
.descriptionright p {line-height:1.50em;text-align:justify;}


/* Project DM */
.thumbsAll {text-align:left;display:inline}
.thumbsAll img, .lgrImageAll {border:1px solid #333;padding:0px;}
img.lgrImageAll {text-align:right;}
.thumbsAll img {margin:0px 0px 0px 0px;cursor:pointer;display:inline}
.picInfoAll {display:block;font-size:12px;font-weight:normal;letter-spacing:1px;padding:5px 5px;width:600px;margin:5px;}
div.panel, div.dmdetails {float:left;display:inline;}
div.panel {width:600px;height:450px;}
.dmdetails li {font-size:11px;list-style:square;width:300px;margin:30px 0px 20px 0px;font-weight:normal;letter-spacing:2px;line-height:17px}
.dmdetails h3 {margin-left:30px;}
.dmdetails img {margin:10px 0px 0px 30px;}
img.dmsound {display:inline;}

/* Project OMC */
.picholder {width:632px;height:475px;}

/* Photos sections */
.picholder720px {width:720px;height:540px;}
.thumbs75px {display:block;margin:0px 0px 30px 30px;}
.thumbs75px img {border:1px solid #333;padding:0px;margin:4px;display:inline;}
H3.photo {margin:0 0 0 5px;padding:0 0 5px 0;}
.shadow_tn img {
	box-shadow: rgba(0,0,0,0.40) 2px 2px 4px;
	-webkit-box-shadow: rgba(0,0,0,0.40) 2px 2px 4px;
	-moz-box-shadow: rgba(0,0,0,0.40) 2px 2px 4px;
}

/* Portfolio Focus */
.folioContainer {width:850px;margin-left:15px;}
#main2 .folioImgholder {border:0;margin:0;padding:0;}
#main2 .folioPagelt {display:block;float:left;clear:left;width:500px;min-height:400px;}
#main2 .folioPagelt h3 {font-size:1.3em;}
#main2 .folioPagelt h4 {color:#555;font-weight:400;letter-spacing:0px;}
#main2 .folioPagelt ol li {padding-bottom:5px;font-size:1em;}
#main2 .folioPagelt ul li {padding-bottom:5px;font-size:1em;list-style:square;}
#main2 .folioPagelt p {padding-right:40px;line-height:1.5em;text-align:left;font-size:1em;}
#main2 .folioPagert {display:block;float:right !important;width:300px;}

/* Portfolio */
#main .folioIcon {display:block;float:left;width:150px;border:0;padding:0;margin:0 0 30px 35px;}
#main .folioIcon img {display:block;clear:both;border:0;padding:0;margin:0;}
#main .folioIcon h2 {font-family:'Open Sans',Arial,sans-serif;font-size:1.3em;font-weight:600;text-align:center;border:0;padding:0;margin:5px 0 0 0;}
#main .folioIcon a h2, #main .folioIcon a:link h2,#main .folioIcon a:visited h2 {text-decoration:none;color:#569AD1;}
#main .folioIcon a:hover h2 {text-decoration:none;color:#2E74B4;}
#main .folioIcon a:active h2 {text-decoration:none;color:#2E74B4;}



/*
.shadow {
	box-shadow: rgba(0,0,0,0.80) 0 2px 1px;
	-webkit-box-shadow: rgba(0,0,0,0.80) 0 2px 1px;
	-moz-box-shadow: rgba(0,0,0,0.40) 8px 8px 10px;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fdfdfd), to(#eee));
	background: -moz-linear-gradient(100% 100% 90deg, #eee, #fdfdfd);
	*background-color: #f8f8f8;
}

.mainshadow {
	box-shadow: rgba(0,0,0,0.40) 0 1px 3px;
	-webkit-box-shadow: rgba(0,0,0,0.40) 0 1px 3px;
	-moz-box-shadow: rgba(0,0,0,0.30) 0px 1px 3px;
}
*/